In [5]:
import pandas as pd
import numpy as np
data = pd.read_excel("TCS.xlsx")
print(data.head())

         Unnamed: 0  Unnamed: 1  Unnamed: 2  Unnamed: 3  Unnamed: 4  \
0               NaN         NaN         NaN         NaN         NaN
1         Narration         NaN         NaN         NaN         NaN
2             Sales         NaN         NaN         NaN         NaN
3          Expenses         NaN         NaN         NaN         NaN
4  Operating Profit         NaN         NaN         NaN         NaN

   Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9 Unnamed: 10  \
0         NaN        NaN        NaN        NaN        NaN         NaN
1         NaN        NaN        NaN        NaN        NaN         NaN
2         NaN        NaN        NaN        NaN        NaN         NaN
3         NaN        NaN        NaN        NaN        NaN         NaN
4         NaN        NaN        NaN        NaN        NaN         NaN

  Unnamed: 11 SCREENER.IN Unnamed: 13
0         NaN         NaN         NaN
1    Trailing   Best Case  Worst Case
2         NaN         NaN         NaN
3         NaN         NaN         NaN
4         NaN         NaN         NaN

# New section