In [6]:
import numpy as np
import pandas as pd

In [5]:
data=pd.read_csv("C:/Users/SOUMODIP/Downloads/archive (1)/TCS Historical Data.csv")
data.head()

,Unnamed: 0,Date,Price,Open,High,Low,Volume,Change(%)
0,0,09 Oct 2024,4252.95,4260.0,4295.00,4246.70,1082504,-0.01%
1,1,08 Oct 2024,4253.25,4272.6,4279.40,4203.95,1541867,-0.46%
2,2,07 Oct 2024,4272.85,4273.9,4297.25,4229.40,1472619,0.48%
3,3,04 Oct 2024,4252.25,4225.0,4298.00,4224.05,2965463,0.46%
4,4,03 Oct 2024,4232.75,4262.6,4279.00,4210.00,3350119,-1.29%